<div class="col-10 offset-1">
  <h1 class="about">About <span class="logo logo-about">inspirati</span></h1>

  <blockquote class="blockquote">
    <p class="mb-0">“People often say that motivation doesn't last. Well, neither does bathing - that's why we recommend it daily.”</p>
    <footer class="blockquote-footer about-blurb">Zig Ziglar <cite title="Source Title about-blurb">Author</cite></footer>
  </blockquote>

  <p class="about-blurb">
    Inspirati was built with that quote in mind, to motivate you daily.
    Inspirational quotes and sayings from the present day or centuries past, inspire and instruct us.
    If you’re having trouble seeing the cup as half full instead of half empty,
    reading some positive quotes about life can help you snap out of your funk.
    These 'inspiring' quotes will help you see the amazing potential that life has to offer.
  </p>

  <p class="about-blurb">
    If you want to read more about <span class="italic">why</span> inspiration matters, <a href="https://hbr.org/2011/11/why-inspiration-matters" target="_blank">start here</a>.
  </p>

</div>

<br class="clear">
<br>
<br>
<br>
<br>
