<h2 class="tag-line">
  <span class="logo-tag-line">INSPIRATI</span> / No. <%= @quote.id %> — 
  The quote that will inspire you today!
</h2>

<br class="clear">

<h1>“<%= @quote.quote %>”</h1>
<h2>—<%= @quote.author %></h2>
