@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Raleway:300');


@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

$small-range: (0em, 40em);

$screen: "only screen";
$small-up: $screen;

@mixin single-transition($property:all, $speed:300ms, $ease:ease-out) {
  transition: $property $speed $ease;
}

@media #{$small-up} {
  .logo {
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: -webkit-linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
    background: linear-gradient(left, #33235B, #D62229, #E97639, #792042, #33235B);
    background-size: 3200px 200px;
    margin-top: 2vh;
    color: transparent;

    -webkit-background-clip: text;
    -webkit-animation: animate-logo;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;

    @include single-transition($property: font-size, $speed: 500ms, $ease: ease-in-out);
  }

}

@-webkit-keyframes animate-logo {
  0% { background-position: 0 3200px; }
  100% { background-position: 3200px 0; }
}

header {
  border-top: 5px solid #33235B;
}

hr {
  clear: both;
}

h1 {
  font-family: "Baskerville", cursive;
  font-size: 3.01em;
  font-style: italic;
  letter-spacing: 0.05rem;
  line-height: 1.625;
  margin-top: 15vh;
  padding: 20px 100px 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.85em;
  float: right;
  padding-top: 30px;
  padding-right: 50px;
}

h3 {
  font-family: "Baskerville", cursive;
  font-size: 2.5em;
  font-style: italic;
  letter-spacing: 0.05rem;
  line-height: 1.625;
  margin-top: 8vh;
}

a:hover {
  text-decoration: none;
  color: #222;
}

.clear {
  clear: both;
}

.slogan {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-top: 2.5vh;
  padding: 0 50px;
}

.italic {
  font-style: italic;
  text-transform: lowercase;
  font-family: "Baskerville", cursive;
  font-weight: normal;
  font-size: 1.50rem;
}

.links {
  margin-top: 3.70vh;
}

.links a {
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
  padding: 0 10px;
}

.links a:first-child {
  padding-right: 80px;
}

.links a:hover {
  text-decoration: none;
  color: #D62229;
  font-weight: bold;
}

.next-quote {
  float: left;
  color: #D62229;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin-left: 3rem;
}

.footer-blurb {
  text-align: right;
  color: #222;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: .70rem;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-right: 3rem;
}

.footer-blurb a {
  text-decoration: none;
  color: #222;
}

.footer-blurb a:hover {
  color: #222;
}

.footer-italic {
  font-style: italic;
  text-transform: lowercase;
  font-family: "Baskerville", cursive;
  font-weight: normal;
  font-size: 1.12rem;
}

.fa-heart {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  padding: 2px;
  font-size: 16px;
  color: #ff5252;
}

.btn-danger {
  background-color: #D62229;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
